@model IEnumerable<CompraOnline.Models.Productos.Producto>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcionProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioPromo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.promocion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcionProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioPromo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.promocion)
            </td>
            <td>
                @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                @if (item.stock > 0)
                {
                    @Html.ActionLink("Agregar al carrito", "ProductoCarrito", "CarritoCompras", new { idProducto = item.idProducto }, new { @class = "btn btn-success" })
                }
                else
                {
                    @Html.ActionLink("Agregar al carrito", "ProductoCarrito", "CarritoCompras", new { idProducto = item.idProducto }, new { @class = "btn btn-success disabled" })
                }
            </td>
        </tr>
}
    </tbody>
</table>
