@model IEnumerable<CompraOnline.Models.Productos.Producto>

@{
    ViewData["Title"] = "Detalles del Pedido";
    int idUsuario = int.Parse(User.FindFirst("idUsuario")?.Value);
}

<div class="container mt-4 mb-5">
    <h1 class="text-center mb-4">Productos Filtrados</h1>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="@item.imagen" alt="@item.nombreProducto" class="card-img-top img-fluid" style="max-height: 200px; object-fit: contain;">
                        <h5 class="card-title">@item.nombreProducto</h5>
                        <p class="card-text">@item.descripcionProducto</p>
                        <p><strong>Precio:</strong> ₡@item.precio</p>
                        @* @if (item.precioPromo.HasValue) *@
                        @if (item.promocion)
                        {
                            <p><strong>Precio Promoción:</strong> ₡@item.precioPromo</p>
                        }
                        <p><strong>Stock:</strong> @item.stock</p>
                        <p><strong>Categoría:</strong> @item.idCategoria</p>
                        @* <p><strong>Promoción:</strong> @item.promocion</p> *@

                        <div class="d-flex justify-content-between">
                            @if (item.stock > 0)
                            {
                                <a href="@Url.Action("ProductoCarrito", "CarritoCompras", new { idProducto = item.idProducto })" class="btn btn-success">
                                    <i class="bi bi-cart-plus"></i> Agregar al carrito
                                </a>
                            }
                            else
                            {
                                <button class="btn btn-success disabled">
                                    <i class="bi bi-cart-plus"></i> Agregar al carrito
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    @if (idUsuario == 1)
    {
        <div class="text-center mt-4">
            <a href="@Url.Action("CrearProducto")" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Crear Nuevo Producto
            </a>
        </div>
    }
</div>
