@model IEnumerable<CompraOnline.Models.CarritoCompras.CarritoCompra>

@{
    ViewData["Title"] = "VerCarrito";
    List<CompraOnline.Models.Productos.Producto> productos = ViewBag.listaProductos;
    List<CompraOnline.Models.Usuarios.Usuario> usuarios = ViewBag.listaUsuarios;
    float totalCarrito = ViewBag.totalCarrito;
}

<h1 class="text-center my-4">Ver Carrito</h1>

@if (Model.Any())
{
    <section>
        <div class="d-flex justify-content-between mb-4">
            <a href="@Url.Action("PagarPedido", "Pedidos", new { idPedido = Model.First().idPedido })" class="btn btn-primary">
                <i class="bi bi-credit-card"></i> Pagar pedido
            </a>
            <a href="@Url.Action("productosXCategoria", "Productos")" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Agregar productos
            </a>
        </div>

        <div class="text-end mb-4">
            <p><strong>Monto total:</strong> @totalCarrito</p>
        </div>
    </section>

    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre del cliente</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Monto Total</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @foreach (var item2 in usuarios)
                        {
                            if (item.idUsuario == item2.idUsuario)
                            {
                                @item2.nombreCompleto
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item2 in productos)
                        {
                            if (item.idProducto == item2.idProducto)
                            {
                                @($"{item2.nombreProducto} - {item2.descripcionProducto}")
                            }
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.cantidad)</td>
                    <td>@Html.DisplayFor(modelItem => item.montoTotal)</td>
                    <td>
                        <a href="@Url.Action("EditarProductoCarrito", new { idCarrito = item.idCarrito })" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <a href="@Url.Action("EliminarProductoCarrito", new { idCarrito = item.idCarrito })" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Eliminar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <section>
        <h1 class="text-center">No tienes artículos en el carrito.</h1>
    </section>
    <section class="text-center">
        <a href="@Url.Action("productosXCategoria", "Productos")" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Agregar productos
        </a>
    </section>
}
