@model CompraOnline.Models.Pedidos.Pedido

@{
    ViewData["Title"] = "DetallesPedido";
    List<CompraOnline.Models.Usuarios.Usuario> usuarios = ViewBag.listaUsuarios;
}

<h1>DetallesPedido</h1>

<section>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idUsuario)
        </dd>
        <dt class = "col-sm-2">
            Nombre Usuario
        </dt>
        <dd class = "col-sm-10">
            @foreach (var item2 in usuarios)
            {
                if (Model.idUsuario == item2.idUsuario)
                {
                    @item2.nombreCompleto
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estadoPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estadoPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>
    </dl>
</section>
<section>
    @* @Html.ActionLink("Editar Pedido", "Edit", new { /* id = Model.PrimaryKey */ }) | *@
    <a asp-action="MisPedidos" class="btn btn-danger">Regresar a la lista de pedidos</a>
</section>
