@model IEnumerable<CompraOnline.Models.Pedidos.Pedido>

@{
    ViewData["Title"] = "MisPedidos";
    List<CompraOnline.Models.Usuarios.Usuario> usuarios = ViewBag.listaUsuarios;
}

<h1 class="text-center mb-4">Mis Pedidos</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        @foreach (var item2 in usuarios)
                        {
                            if (item.idUsuario == item2.idUsuario)
                            {
                                @item2.nombreCompleto
                            }
                        }
                    </h5>
                    <p class="card-text">
                        <strong>Precio Total:</strong> ₡@item.precioTotal <br />
                        <strong>Estado:</strong> @Html.DisplayFor(modelItem => item.estadoPedido) <br />
                        <strong>Fecha:</strong> @Html.DisplayFor(modelItem => item.fechaCreacion) <br />
                    </p>
                    <div class="d-flex justify-content-between">
                        <div>
                            @Html.ActionLink("Detalles", "DetallesPedido", new { idPedido = item.idPedido }, new { @class = "btn btn-success btn-sm" })
                        </div>
                        <div>
                            @if (DateTime.TryParse(item.fechaCreacion.ToString(), out var fechaCreacion) && fechaCreacion >= ViewBag.fecha)
                            {
                                @Html.ActionLink("Eliminar", "EliminarPedido", new { idPedido = item.idPedido }, new { @class = "btn btn-danger btn-sm" })
                            }
                            else
                            {
                                @Html.ActionLink("Eliminar", "EliminarPedido", new { idPedido = item.idPedido }, new { @class = "btn btn-danger btn-sm disabled" })
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
